[Unit]
Description=GPS Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/etc/GPS/GPSDaemon.php

[Install]
WantedBy=multi-user.target
